.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 4.25rem;
    padding-block: 2.5rem;
}

span {
    color: #00771B;
}

.header__logo {
    font-size: 1.5rem;
    font-weight: 600;
}

.nav__ul {
    display: flex;
    list-style: none;
    gap: 5.5rem;
}

.nav__a {
    color: inherit;
    text-decoration: none;
}

.sing__btn {
    font-size: 1rem;
    background-color: #007B22;
    padding: 0.5em 2em;
    border-radius: 6px;
    color: #ECF4EF;
    cursor: pointer;
}

@media (width < 768px) {
    .header__nav {
        display: none;
    }
}